# Dependabot will run on day 13 of each month at 03:25 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "ThomasPohl"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "25 3 13 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ThomasPohl"
